<div class="contents row" >
  <% @blogs.each do |blog| %>
    <div class="content_post" style="background-image: url(<%= blog.image %>);">
      <%= simple_format(blog.text) %>
      <span class="name"><%= blog.name %></span>
    </div>
  <% end %>
</div>